/* ===== RESET START ===== */
* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    margin: 0;
    color: #777;
    background-color: #fff;
    font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
p, blockquote {
    margin: 0;
}
a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    outline: none;
    border: none;
}
input[type="submit"] {
    cursor: pointer;
}
textarea {
    resize: vertical;
}
button {
    cursor: pointer;
    background-color: transparent;
}
/* ===== RESET END ===== */

/* ===== DEFAULT CLASSES START ===== */
.overflow-hidden {
    overflow: hidden;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-uppercase {
    text-transform: uppercase;
}
.m-auto {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
.bg-gray {
    background: #f8f8f8;
}
.bg-black {
    background: #111;
}
.br-bottom {
    border-bottom: 1px solid #ececec;
}
@media (max-width: 991px) {
    .text-md-center {
        text-align: center;
    }
}
/* ===== DEFAULT CLASSES END ===== */

/* ===== DEFAULT COMPONENTS START ===== */
.default-section,
.content-section {
    padding: 135px 0;
}
.default-section-p-top {
    padding-top: 135px;
}
.small-section {
    padding: 70px 0;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.container-fluid {
    padding: 0 15px;
}
.title {
    color: #111;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.title.title-white {
    color: #fff;
}
.title.section-title {
    font-size: 18px;
    letter-spacing: .5em;
    margin-bottom: 75px;
}
.title.section-title-light {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .3em;
    margin-bottom: 20px;
}
.default-text {
    font-size: 15px;
    line-height: 1.7333;
    font-weight: 300;
}
blockquote,
.blockquote {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 30px;
}
blockquote span,
.blockquote span {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.form-control {
    width: 100%;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #777;
    padding-left: 13px;
    padding-right: 13px;
}
.form-control:focus {
    border-color: #afafaf;
}
.form-control.error {
    border-color: #ff5656;
    background-color: #fff0f0;
}
.form-control[disabled],
.form-control.disabled {
    background-color: #f1f1f1;
    cursor: not-allowed;
    opacity: .6;
}
textarea.form-control {
    min-height: 82px;
    padding-top: 9px;
}
.form-info {
    font-size: 11px;
    color: #aaa;
    font-weight: 400;
}
.form-info .fa {
    font-size: 12px;
}
.btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}
.btn[disabled] {
    cursor: not-allowed;
    opacity: .6;
}
.btn.btn-default {
    color: #777;
    background-color: #e5e5e5;
    letter-spacing: .2em;
}
.btn.btn-default:hover {
    background-color: #fff;
}
.btn.btn-black {
    color: #fff;
    background-color: #323232;
}
.btn.btn-black:hover {
    background-color: #474747;
}
.btn.btn-sm {
    padding: 7px 15px;
    font-size: 11px;
}
.btn.btn-sm:hover {
    background-color: #d5d5d5;
}
.item-et-icon {
    display: block;
    font-size: 48px;
    margin-bottom: 32px;
}
.rhomb-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    border-radius: 3px;
    transform: rotate(45deg);
    border: 1px solid transparent;
}
.rhomb-icon * {
    transform: rotate(-45deg);
}
.rhomb-icon.icon-lg {
    width: 27px;
    height: 27px;
    line-height: 25px;
}
.rhomb-icon.icon-sm {
    width: 20px;
    height: 20px;
    line-height: 18px;
}
.rhomb-icon.icon-transparent {
    background-color: transparent;
    border: 1px solid #111;
    color: #111;
}
.rhomb-icon.icon-black {
    background-color: #111;
    color: #f8f8f8;
}
.rhomb-icon.icon-white {
    background-color: #f8f8f8;
    color: #111;
}
@media (max-width: 991px) {
    .default-section,
    .content-section {
        padding: 80px 0;
    }
    .default-section-pt {
        padding-top: 70px;
    }
    .small-section {
        padding: 40px 0;
    }
    .title.section-title {
        margin-bottom: 50px;
    }
    blockquote,
    .blockquote {
        font-size: 22px;
    }
    blockquote span,
    .blockquote span {
        font-size: 9px;
    }
    .item-et-icon {
        font-size: 40px;
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .title.section-title,
    .title.section-title-light {
        font-size: 15px;
    }
    blockquote,
    .blockquote {
        font-size: 20px;
    }
    .default-text {
        font-size: 15px;
    }
    .btn,
    .form-control {
        font-size: 14px;
    }
    .btn.btn-sm {
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    .title {
        line-height: 1.7;
    }
    .title.section-title {
        font-size: 16px;
        letter-spacing: .4em;
        margin-bottom: 35px;
    }
    .title.section-title-light {
        letter-spacing: .2em;
    }
    .default-text {
        font-size: 15px;
    }
    blockquote,
    .blockquote {
        font-size: 22px;
    }
    blockquote span,
    .blockquote span {
        font-size: 11px;
    }
    .item-et-icon {
        font-size: 35px;
        margin-bottom: 15px;
    }
}
/* --- HEADER START --- */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 27px 0;
    z-index: 99;
    background-color: transparent;
    transition: all .3s;
}
.header-min {
    padding: 20px 0;
    background-color: #000;
}
.header .header-logo {
    float: left;
}
.header .header-nav {
    color: rgba(255, 255, 255, .75);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .3em;
    float: right;
    line-height: 23px;
}
.header .header-nav li {
    float: left;
}
.header .header-nav li:hover {
    color: rgba(255, 255, 255, 1);
}
.header .header-nav li + li {
    margin-left: 32px;
}
@media (max-width: 991px) {
    .header {
        padding: 23px 0;
    }
    .header-min {
        padding: 14px 0;
    }
}
@media (max-width: 767px) {
    .header {
        padding: 17px 0;
    }
    .header .header-nav {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .header-min {
        padding: 8px 0;
    }
    .header-logo img {
        max-width: 90%;
    }
}
/* --- HEADER END --- */

/* --- FOOTER START --- */
.footer {
    padding-top: 135px;
    padding-bottom: 50px;
}
.footer-img {
    display: inline-block;
    margin-bottom: 24px;
}
.footer-socials-nav {
    padding: 5px 0;
    margin-bottom: 110px;
}
.footer-socials-nav li {
    display: inline-block;
    margin: 0 7px;
}
.footer-socials-nav a:hover {
    color: #f8f8f8;
    background-color: #111;
}
.footer-copirates {
    font-weight: 400;
}
.footer-copirates a {
    display: block;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    letter-spacing: .5em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 15px;
}
.footer-copirates span {
    font-size: 11px;
    color: #999;
}
@media (max-width: 991px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .footer-socials-nav {
        margin-bottom: 55px;
    }
}
/* --- FOOTER END --- */

/* --- TOP CONTROL START --- */
.top-control {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 48px;
    height: 48px;
    color: #c6c6c6;
    font-size: 48px;
    line-height: 40px;
    opacity: 0;
    z-index: 99;
}
.top-control:hover {
    cursor: pointer;
    color: #272727;
}
@media (max-width: 767px) {
    .top-control {
        right: 10px;
        bottom: 5px;
    }
}
/* --- TOP CONTROL END --- */
/* ===== DEFAULT COMPONENTS END ===== */

/* ===== CUSTOM STYLES START ===== */
/* --- INNER START --- */
.inner {
    padding-top: 77px;
    height: 100vh;
    background: url('../img/inner-bg.jpg') no-repeat center / cover;
}
.inner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -4px;
}
.inner-content {
    display: inline-block;
    vertical-align: middle;
}
.inner-content h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.7em;
    text-indent: 1.7em;
    margin-bottom: 95px;
    color: rgba(255, 255, 255, .9);
}
.inner-content span {
    font-size: 19px;
    color: rgba(255, 255, 255, .68);
}
.inner-scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 35px;
    margin-left: -10px;
    cursor: pointer;
}
.inner-scroll-btn:hover {
    background-color: #e5e5e5;
}
.inner-scroll-btn .fa {
    font-size: 9px;
    margin-left: 2px;
}
@media (max-width: 991px) {
    .inner-content h1 {
        letter-spacing: .7em;
        text-indent: .7em;
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    .inner-content h1 {
        margin-bottom: 30px;
    }
}
@media (max-width: 576px) {
    .inner-content {
        padding: 0 25px;
    }
    .inner-content h1 {
        font-size: 20px;
        letter-spacing: .4em;
        text-indent: .4em;
        margin-bottom: 25px;
    }
    .inner-content span {
        font-size: 15px;
    }
}
/* --- INNER END --- */

/* --- ABOUT TEAM START --- */
.about-team .team-description-wrapper {
    margin-bottom: 100px;
}
.about-team .team-worker-img {
    margin-bottom: 28px;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.about-team .team-worker-skills {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: #000;
    opacity: 0;
    transition: all .35s ease-out;
}
.about-team .team-worker-skills .title {
    display: block;
    font-size: 18px;
    letter-spacing: .3em;
    margin-bottom: 30px;
}
.about-team .team-worker-skills p {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6153;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 45px;
}
.about-team .team-worker-img:hover .team-worker-skills {
    opacity: 100;
}
.about-team .skill-item + .skill-item {
    margin-top: 20px;
}
.about-team .skill-item span {
    display: inline-block;
    color: rgba(255, 255, 255, .9);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.about-team .skill-item .progress-bar {
    width: 100%;
    height: 12px;
    background-color: rgba(255, 255, 255, .15);
}
.about-team .skill-item .progress {
    width: 0;
    height: 12px;
    background-color: rgba(255, 255, 255, .75);
    transition: width .5s ease-out;
}
.about-team .skill-item .progress.two {
    transition: width .5s ease-out .1s;
}
.about-team .skill-item .progress.three {
    transition: width .5s ease-out .2s;
}
.about-team .skill-item .progress.four {
    transition: width .5s ease-out .3s;
}
.about-team .team-worker-img:hover .progress.one {
    width: 74%;
}
.about-team .team-worker-img:hover .progress.two {
    width: 43%;
}
.about-team .team-worker-img:hover .progress.three {
    width: 85%;
}
.about-team .team-worker-img:hover .progress.four {
    width: 30%;
}
.about-team .team-worker-info {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    letter-spacing: .4em;
    font-weight: 400;
}
.about-team .team-worker-info .team-worker-name,
.about-team .team-worker-info .team-worker-role {
    display: block;
}
.about-team .team-worker-name {
    margin-bottom: 15px;
    font-size: 15px;
}
.about-team .team-worker-role {
    font-size: 12px;
}
@media (max-width: 1200px) {
    .about-team .team-worker-skills {
        padding: 25px;
    }
    .about-team .team-worker-skills .title {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .about-team .team-worker-skills p {
        margin-bottom: 20px;
    }
}
@media (max-width: 991px) {
    .about-team .team-description-wrapper {
        margin-bottom: 70px;
    }
    .about-team .team-worker-wrapper .row {
        margin-top: -35px;
    }
    .about-team .team-worker-wrapper .col {
        margin-top: 35px;
    }
    .about-team .team-worker-img {
        margin-bottom: 12px;
    }
}
@media (max-width: 767px) {
    .about-team .team-description-wrapper {
        margin-bottom: 45px;
    }
    .about-team .team-worker-img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-team .team-worker-img img {
        width: 100%;
    }
    .about-team .team-worker-name {
        margin-bottom: 10px;
        font-size: 11px;
    }
    .about-team .team-worker-role {
        font-size: 9px;
    }
}
@media (max-width: 576px) {
    .about-team .team-worker-skills {
        padding: 14px;
    }
    .about-team .team-worker-img {
        width: 80%;
    }
    .about-team .team-worker-name {
        font-size: 13px;
    }
    .about-team .team-worker-role {
        font-size: 10px;
    }
    .about-team .team-description-wrapper .col:last-child {
        margin-top: 20px;
    }
}
/* --- ABOUT TEAM END --- */

/* --- SERVICES START --- */
.tabs-nav {
    margin-bottom: 75px;
}
.services .tabs-nav li {
    width: 20%;
    float: left;
    color: rgba(12, 12, 12, .5);
}
.services .tabs-nav a {
    display: inline-block;
}
.services .tabs-nav .ui-state-active {
    color: #111;
}
.services .tabs-nav .tab-name {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4em;
}
@media (max-width: 991px) {
    .tabs-nav {
        margin-bottom: 50px;
    }
    .services .tabs-nav .tab-name {
        font-size: 12px;
        letter-spacing: .3em;
    }
}
@media (max-width: 767px) {
    .tabs-nav {
        margin-bottom: 0px;
    }
    .services .tabs-nav li {
        width: 33.33333333%;
        margin-bottom: 50px;
    }
}
@media (max-width: 576px) {
    .services .tabs-wrapper .col:last-child {
        margin-top: 20px;
    }
    .services .tabs-nav li {
        width: 50%;
        margin-bottom: 35px;
    }
    .services .tabs-nav .tab-name {
        letter-spacing: .2em;
    }
}
/* --- SERVICES END --- */

/* --- LETS TALK START --- */
.lets-talk-content p {
    color: rgba(255, 255, 255, .7);
    margin-bottom: 40px;
}
.lets-talk-img {
    margin-top: -32px;
}
/* --- LETS TALK END --- */

/* --- PORTFOLIO START --- */
.portfolio-desc-wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin-bottom: 80px;
}
.portfolio .tabs-nav {
    display: inline-block;
    margin-bottom: 50px;
}
.portfolio .tabs-nav li {
    float: left;
    color: rgba(12, 12, 12, .5)
}
.portfolio .tabs-nav li + li {
    margin-left: 70px;
}
.portfolio .tabs-nav .tab-name {
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4em;
}
.portfolio .tabs-nav .ui-state-active {
    color: #111;
}
.portfolio .tab-items-img {
    float: left;
    padding: 4px;
    width: 33.3333333%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.portfolio .tab-items-img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.portfolio .tab-items-img img {
    width: 100%;
}
@media (max-width: 991px) {
    .portfolio-desc-wrapper {
        margin-bottom: 50px;
    }
    .portfolio .tabs-nav {
        margin-bottom: 30px;
    }
    .portfolio .tab-items-img {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .portfolio .tabs-nav li {
        float: none;
    }
    .portfolio .tabs-nav li + li {
        margin-left: 0;
        margin-top: 15px;
    }
    .portfolio .tabs-nav .tab-name {
        font-size: 13px;
    }
}
@media (max-width: 576px) {
    .portfolio .tab-items-img {
        width: 100%;
    }
}
/* --- PORTFOLIO END --- */

/* --- WHY CHOOSE US START --- */
.why-choose-us .section-title {
    margin-bottom: 0;
}
.why-choose-items-wrapper .title {
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .4em;
    margin-bottom: 35px;
}
.why-choose-us .col {
    margin-top: 80px;
}
@media (max-width: 576px) {
    .why-choose-items-wrapper .title {
        letter-spacing: .2em;
    }
}
/* --- WHY CHOOSE US END --- */

/* --- REVIEWS START --- */
.reviews {
    position: relative;
}
.reviews-title {
    margin-bottom: 40px;
}
.reviews-title i {
    font-size: 32px;
    color: #fff;
    margin-bottom: 22px;
}
.reviews-slider {
    position: static;
}
.reviews-slider .slide-content {
    max-width: 1200px;
    padding: 0 15px;
}
.reviews-slider .slide-content .review {
    font-size: 18px;
    line-height: 1.6666666;
    color: rgba(255, 255, 255, .75);
}
.reviews-slider .slide-content .review span {
    display: inline-block;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .3);
    margin-top: 25px;
}
.reviews-slider .slick-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 90px;
    z-index: 1;
    cursor: pointer;
}
.reviews-slider .slick-arrow:hover {
    background-color: rgba(255, 255, 255, .1);
}
.reviews-slider .slick-arrow.slick-prev {
    left: 0;
}
.reviews-slider .slick-arrow.slick-next {
    right: 0;
}
.reviews-slider .carousel-button {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    width: 64px;
    height: 64px;
    border-radius: 2px;
    background-color: #fff;
}
.reviews-slider .carousel-button i {
    position: absolute;
    top: 14px;
}
.reviews-slider .slick-prev .carousel-button {
    transform: rotate(45deg);
    margin-left: -32px;
}
.reviews-slider .slick-prev .carousel-button i {
    right: 15px;
    transform: rotate(-45deg);
}
.reviews-slider .slick-next .carousel-button {
    right: 0;
    transform: rotate(-45deg);
    margin-right: -32px;
}
.reviews-slider .slick-next .carousel-button i {
    left: 15px;
    transform: rotate(45deg);
}
.reviews-slider .slick-dots {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    line-height: 0;
}
.reviews-slider .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .8);
    cursor: pointer;
}
.reviews-slider .slick-dots li:hover {
    background-color: #fff;
}
.reviews-slider .slick-dots li.slick-active {
    border-color: rgba(255, 255, 255, .8);
    background-color: #000;
}
.reviews-slider .slick-dots li + li {
    margin-left: 5px;
}
.reviews-slider .slick-dots li button {
    font-size: 0;
}
@media (max-width: 767px) {
    .reviews-slider .slick-arrow  {
        width: 70px;
    }
    .reviews-slider .slide-content .review {
        font-size: 15px;
    }
}
@media (max-width: 576px) {
    .reviews-slider .slick-arrow  {
        width: 45px;
    }
}
/* --- REVIEWS END --- */

/* --- LATEST NEWS START --- */
.latest-news .section-title a {
    font-size: 11px;
    letter-spacing: .4em;
    color: #999;
    line-height: 18px;
}
.latest-news .news-items .news-img {
    display: inline-block;
    margin-bottom: 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.latest-news .news-items .news-img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.latest-news .news-items .news-title {
    display: block;
    font-size: 15px;
    letter-spacing: .2em;
    margin-bottom: 15px;
}
.latest-news .news-items .news-date {
    display: block;
    font-size: 11px;
    color: #999;
    letter-spacing: .4em;
    margin-bottom: 25px;
}
.latest-news .news-items p {
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .latest-news .news-items .col {
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 20px;
    }
    .latest-news .news-items .col-md-12 + .col-md-12 {
        margin-top: 30px;
    }
    .latest-news .news-items .news-img,
    .latest-news .news-items .news-img img {
        width: 100%;
    }
    .latest-news .news-items .btn {
        float: right;
    }
}
@media (max-width: 576px) {
    .latest-news .title a {
        float: none;
        display: block;
    }
}
/* --- LATEST NEWS END --- */

/* --- SUBSCRIBE START --- */
.subscribe form .form-control {
    max-width: 290px;
}
.subscribe .form-info {
    margin-top: 18px;
}
@media (max-width: 576px) {
    .subscribe form .form-control {
        max-width: 100%;
    }
    .subscribe form .btn {
        margin-top: 20px;
    }
}
/* --- SUBSCRIBE END --- */

/* --- CONTACT START --- */
.contact-items-wrapper {
    margin-bottom: 80px;
    padding: 0 4px;
}
.contact-item-content {
    display: inline-block;
    margin-left: 14px;
    vertical-align: middle;
}
.contact-item-content span {
    display: block;
}
.contact-item-content span + span {
    margin-top: 10px;
}
.contact-item-content .contact-title {
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3em;
    text-transform: uppercase;
}
.contact-item-content .contact-info {
    font-size: 15px;
}
.contact .form-row {
    margin: 0 -5px;
    margin-bottom: 20px;
}
.contact .form-col {
    width: 50%;
    float: left;
    padding: 0 5px;
}
.contact-form .form-control + .form-control {
    margin-top: 10px;
}
.contact-form .form-info {
    line-height: 36px;
}
@media (max-width: 1200px) {
    .contact-item {
        text-align: center;
    }
    .contact-item .rhomb-icon {
        margin-bottom: 20px;
    }
    .contact-item-content {
        display: block;
        margin-left: 0;
    }
}
@media (max-width: 991px) {
    .contact .form-col {
        width: 100%;
    }
    .contact-form .form-col + .form-col {
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .contact-items-wrapper .col-sm-12 {
        margin-top: 45px;
    }
}
@media (max-width: 576px) {
    .contact-items-wrapper {
        margin-bottom: 45px;
    }
    .contact-items-wrapper .col-sm-12 {
        margin-top: 35px;
    }
    .contact-form {
        text-align: center;
    }
    .contact .form-row {
        margin-bottom: 0;
    }
    .contact-form .form-info,
    .contact-form .btn {
        float: none;
    }
    .contact-form .btn {
        margin-top: 10px;
    }
}
/* --- CONTACT END --- */

/* --- WHERE-WE-ARE START --- */
.where-we-are {
    position: relative;
}
.where-we-are #map {
    height: 410px;
}
.where-we-are .map-glass {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
}
.where-we-are .map-glass::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -4px;
}
.where-we-are .map-glass-content {
    display: inline-block;
    vertical-align: middle;
}
.where-we-are .map-glass-content .rhomb-icon {
    margin-bottom: 35px;
}
.where-we-are .map-glass-content .title {
    color: rgba(255, 255, 255, .75);
}
.where-we-are .map-glass-content span {
    font-size: 16px;
    letter-spacing: .3em;
    vertical-align: middle;
}
.where-we-are .map-glass-content .title i {
    font-size: 10px;
}
.where-we-are:hover .map-glass {
    height: 0;
    opacity: 0;
}
/* --- WHERE-WE-ARE END --- */

/* --- HOVER EFFECTS START --- */
a, 
input, 
button,
textarea,
.hover-anim,
.portfolio .tab-items-img,
.reviews-slider .slick-arrow,
.latest-news .news-items .news-img {
    transition: all .2s linear;
}
/* --- HOVER EFFECTS END --- */

/* ===== CUSTOM STYLES END ===== */